.carousel-item .img-fluid {
  width:100%;
  height:auto;
}

.carousel-item{
	height: auto;
}

.carousel-item a {
  display: block;
  width:100%;
}

.carousel-item .show-image {
  display: block;
  width:100%;
}